*{
  margin: 0;
  padding: 0;
  background-color: black;
  color:azure;
}

.titulo{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  width: 30%;
  height: auto;
  border-radius: 30%;
  border: 2px solid gray;
  box-shadow: 0 0 3 3 rgb(110, 40, 177);
  margin-bottom: 20px
};

